.NavBar{
    padding: 0 1rem;
    display: flex;
    border-bottom: 2px solid grey;
}

.logo-container{
    width: 7rem;
    padding-top: 5px;
}

.logo-container img{
    max-width: 100%;
}

.nav-other-buttons{
    flex: 1 1;
    display: flex;
    justify-content: flex-end;
}

.nav-other-buttons button{
    min-width: 5rem;
    border: none;
    background:none;
    font-weight: 700;
    color: rgb(50, 50, 50);
    cursor: pointer;
}

.nav-other-buttons button:hover{
    background-color: rgb(186, 186, 253);
}